* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    align-items: center;
    color: #202020;
}

.logo {
    margin-top: 1vh;
    width: 20vh;
    height: 5vh;
}

.nav-itens {
    list-style: none;
    display: flex;
}

.nav-itens>li>a {
    padding-left: 20px;
    color: #202020;
    text-decoration: none;
}

.plus-button{
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: #fff;
}

.profile-pic{
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: #fff;
    margin-left: 35vh;
}