*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  }

.animation-container{
    background-position: center;
    align-items: center;
}

.animated{
    margin-top: 8vh;
    width: 600px;
    height: 600px;
}
body {

    background-image: url('../images/fundo.png');
    background-repeat: no-repeat;
    background-position: center;
  }
  .text h2{
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    color: #6e5a6f;
  }

  
  .button button{
    width: 150px;
    height: 50px;
    text-align: center ;
    align-items: center;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    background-color: #6e5a6f;
    color: white;
  }
  .button button:hover{
    cursor: pointer;
  }
  @media screen and (max-width: 1599px) and (min-width: 769px) {
    
.animated{
  margin-top: 4vh;
  width: 400px;
  height: 400px;
}
.text h2{

  font-size: x-large;
  color: #6e5a6f;
}
.button button{
  width: 100px;
  height: 40px;
}

  }