* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    align-items: center;
    color: #202020;
}

.logo {
    margin-top: 1vh;
    width: 20vh;
    height: 5vh;
}

.nav-itens {
    list-style: none;
    display: flex;
}

.nav-itens>li>a {
    padding-left: 20px;
    color: #202020;
    text-decoration: none;
}

.plus-button{
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: #fff;
}


.profile-pic{
    text-decoration: none;
    border: none;
    background-color: #fff;
    margin-left: 35vh;
}
.product-card {
    max-width: 32vh;
    background-color: #fff;
    padding: 1em;
    box-shadow: 0 5px 5px #e1e1e1;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
  }
  .product-card img {
    max-width: 100%;
    border-radius: 10px;
  }
  .product-card h4 {
    font-size: 1.3em;
    margin: 0.5em 0;
    font-weight: bold;
    text-align: center;
  }
  .product-card h5 {
    color: #544384;
    text-align: center;
  }
  .product-card:hover h5 {
    text-align: center;
  }
  .product-card div {
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product-card button {
    background-color: #544384;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-card:hover{
    border-color: #544384;
    border-style: solid;
    border-width: thin;
    max-width: 34vh;


  }

  .product-card:hover button {
    color: #fff;
    cursor: pointer;

  }
  @media screen and (max-width: 576px) {
    .product-card {
      font-size: 0.9em;
    }
  }

h6{
    color:#000;
    text-align: center;
}
/* Estilo padrão para o tooltip (invisível) */
#tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    margin-top: 4.6vh;
    border-radius: 5px;
    display: none;
    align-items: center; 

}

/* Estilo para o texto do tooltip */
#tooltipText {
    margin-top: 20px;
    font-size: 14px;

}
#tooltip-plus{
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  margin-right: 30vh;
  margin-top: 4.6vh;
  border-radius: 5px;
  display: none;
  align-items: center; 
}
#tooltipTextPlus{
  margin-top: 20px;
  font-size: 14px;
}



#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 95%;
  width: 95%;
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 0.5rem;
  z-index: 10;
}

#fade,
#modal {
  transition: 0.6s;
  opacity: 1;
  pointer-events: all;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.modal-body h4{
  margin-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  align-items: center;
  text-align: center;
  margin-top: 5px;
}

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide {
  top: 0;
}

#close-modal{
  border: none;
  cursor: pointer;
}
.invisivel{
  color: #fff;
}
.profile-pic-modal img{
  max-width: 42vh;
  height: 30vh;
  border-radius: 20px;
  margin-left: 18vh;
}


.elemento1{
  align-items: center;
  max-width: 40%;
  height: 82.89vh;

}

h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
h3{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
