* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    align-items: center;
    color: #202020;
}

.logo {
    margin-top: 1vh;
    width: 20vh;
    height: 5vh;
}

.nav-itens {
    list-style: none;
    display: flex;
}

.nav-itens>li>a {
    padding-left: 20px;
    color: #202020;
    text-decoration: none;
}

.plus-button{
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: #fff;
}

.profile-pic{
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: #fff;
    margin-left: 35vh;
}
.product-card {
    max-width: 32vh;
    background-color: #fff;
    padding: 1em;
    box-shadow: 0 5px 5px #e1e1e1;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
  }
  .product-card img {
    max-width: 100%;
    border-radius: 10px;
  }
  .product-card h4 {
    font-size: 1.3em;
    margin: 0.5em 0;
    font-weight: bold;
    text-align: center;
  }
  .product-card h5 {
    color: #544384;
    text-align: center;
  }
  .product-card:hover h5 {
    color: #fff;
    text-align: center;
  }
  .product-card div {
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .product-card button {
    background-color: #544384;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-card:hover{
    border-radius:10px;
    color: #fff;
  }
  .product-card:hover button {
    color: #000;
    background-color: #fff;

  }
  @media screen and (max-width: 576px) {
    .product-card {
      font-size: 0.9em;
    }
  }

h6{
    color:#000;
    text-align: center;
}